*{
  /*Обсолютно у всех элементов padding и border 
  будут вычитать не из объекта а  
  вычитывать внутри ???*/
  box-sizing: border-box;
}
a{
  text-decoration: none;// Убираем подчеркивание у ссылок
  display: inline-block;
}
ul,
li{
  list-style: none; /* Убираем маркеры списка */
  margin: 0;
  padding: 0;
  display: inline-block;
}
.container{
  max-width: 960px; /* max для того, что бы когда ширина будет больше , не 
  появлялось горизонтального скролла */
  margin:0 auto; /* Центровка */
  padding:0 10px; 
}

.header{
  background-color: #2d303a;
  min-height: 89px;
}
.header-content{
  display: flex;
  justify-content: space-between;
}
.header-logo{
  margin-top: 15px;
}
.header-logo h1{
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    color:#fff;
    font-family:'Lato', sans-serif;
    font-weight: 700;
}
.header-logo h1:hover{
  color:#f06c64;
}
.header-logo span{
    color:#f06c64;
}
.header-menu{
  margin-top: 26px;
}
.header-menu ul,
.header-menu li{
    display: inline-block;
}
.header-menu a{
    font-family:'Lato', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color:#fff;
}
.header-menu a:hover{
  color:#f06c64;
}
.header-menu p{
    display: inline-block;
    color:#323746;
    line-height: 12px;
}
.header-menu li+p{
    margin-right: 9px;
    margin-left: 10px;
}
.header-border{
  height: 6px;
  background-color:#323746;
}
.slider{
  min-height: 594px;
  background-color:#f06c64;
}
.slider-item{
  outline: none;
}
.slider-item-content{
  display: flex;
  justify-content: space-between;
  padding: 53px 71px 58px 72px;
}
.slider-img-horizontal{
    padding-top: 121px;
}
.slick-btn{
    position: absolute;
    z-index:3;
    top:46%;
    background-color: transparent;
    border:none;
    color:#cd484b;
    font-size: 38px;
    font-weight: 900;
    padding: 0;
    outline: none;
    cursor: pointer;
}
.slick-next{
  right: 0;
}
.slick-prev{
  left:0;
}
.slider-border{
   height: 6px;
   background-color:#ea676b;
}


.services{
  min-height: 494px;
  background-color:#f2f2f2;
  color:#686f8b;
}
.services-inner{
  padding: 63px 0px 30px 0px;
}
.services-top{
}
.services-title{
  font-family:'Lato', sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
}
.services-text{
  font-family:'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  padding: 21px 0px 42px 0px;
  text-align: justify;
}
.services-content{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.services-box{
  max-width: 300px;
  width: 100%;
  height: 122px;
  display: flex;
  justify-content: space-between;
}
.serveces-box-img{
   padding-top: 5px;
}
.services-box-info{
   max-width: 220px;
   width: 100%;
}
.services-box-title{
    font-family:'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    margin: 4px 0px 9px 0px;
}
.services-box-text{
  font-family:'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  max-height: 70px;
  overflow: hidden;
  text-overflow: clip;


}
.services-border{
  height: 6px;
  background-color:#fff;
}












.black(){
  font-family:'Lato', sans-serif;
  font-weight: 900;
}
.bold(){
  font-family:'Lato', sans-serif;
  font-weight: 700;
}
.light(){
  font-family:'Lato', sans-serif;
  font-weight: 300;
}
.regular(){
  font-family:'Lato', sans-serif;
  font-weight: 400;
}
